html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: cadetblue;
    padding: auto;
}

.item{
    background-color: bisque;
}
#item1{
    grid-row-start: 1;
    grid-row-end:3;
}
#item3{
    grid-row-start: 1;
    grid-row-end:3;
}